@mixin grid {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    padding: 48px;
}

@mixin row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

$base-grid: 12; //Número de cuantas columnas está compuesto nuestro grid
$base-margin: 8px;
// $columns = Cuantas columnas ocupará el elemento
@mixin cols($columns) {
  $margin: 2 * $base-margin;
  $percentage: (100 / $base-grid) * $columns;
  $aux: $percentage * 1%;
  width: calc(#{$aux} - #{$margin});
  margin: $base-margin;
}
